/* 散点图类的样式 */
.h5_component_point {
    color: #fff;
}
.h5_component_point .point {
    /*display: block;*/
    background-color: #ccc;
    position: absolute;
    border-radius: 50%;
}
.h5_component_point .name {
    font-size: 15px;
    width: 100%;
    height: 30px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    text-align: center;

}
.h5_component_point .rate {
    font-size: .8em;
}
/* 动画效果 */
.point_shadow {
    box-shadow: 0 0 0 12px rgba(255, 118, 118, .1);
    -webkit-animation: color 2s infinite 0.5s;
}
@-webkit-keyframes color {
    50% { box-shadow: 0 0 0 0px rgba(255, 118, 118, .5); }
}